<html>
<head>
	<title> Create Post </title>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>

<body align="center">
<div class="container">
<div class="jumbotran"><h3>Create Post</h3></div>
	<form action="add" method="POST">
		title:<input type="text"  name="title" placeholder="Title of post" /> <br/>
		post:<input type="integer" name="body" placeholder="body of post" /> <br/>
		user:<input type="integer" name="user" placeholder="user name" /> <br/>
		<input type="submit" value="post"  align="center"/>
	</form>
</div>
</body>
</html>